# Worldwide Total Video Game Console Sales Analysis

## 1. Introduction

## 2. Requirements

## 3. Data Collection

The bulk of the data for this was collected using a web scraper from https://www.videogameconsolelibrary.com.

The originally scraped data was saved to a CSV file called 01-original-data.csv, which is stored in the data folder.

Additionally, a number of features were added to the data using Excel from a number of sources. These sources include:

- https://www.computinghistory.org.uk/ - Used for additional stats, such as launch price and release / discontinuation dates.
- https://www.macrotrends.net/ - Used for currency conversions of older systems reported in non-USD currencies.
- https://necretro.org/ - Used for additional stats, such as launch price and release / discontinuation dates.
- https://en.wikipedia.org/ Used for additional stats, such as launch price and release / discontinuation dates.

Lastly, the failure rate information for the xBox 360, PlayStation 3 and Wii were obtained from the below link:
https://www.squaretrade.com/htm/pdf/SquareTrade_Xbox360_PS3_Wii_Reliability_0809.pdf

The failure rate for other consoles is unknown so an estimate of 7.5% was used. This was determined by taking the failure rate of the Nintendo Wii (2.7%), which was rounded to 3% and the failure rate of the PlayStation 3 (10%) and working out the middle point between them (7.5%).

The final data that will be used for this is stored in `./data/02-processed-data.xlsx`. A CSV version (`02-processed-data.csv`) is also stored in the same location.

**NOTE** The Pandora console was removed as it is used mostly for emulation and has no real native games.

## 4. Data Dictionary

1. platform - The name of the console / system.
2. north_america_original - The originally scraped sales numbers for North America (shown in millions sold).
3. north_america - The multiplying of north_america_original by one million.
4. europe_original - The originally scraped sales numbers for Europe (shown in millions sold).
5. europe - The multiplying of europe_original by one million.
6. japan_original - The originally scraped sales numbers for Japan (shown in millions sold).
7. japan - The multiplying of japan_original by one million.
8. rest_of_the_world_original - The originally scraped sales numbers for the rest of the world (shown in millions sold).
9. rest_of_the_world - The multiplying of rest_of_the_world_original by one million.
10. unknown_sales - The sales that were made that were not accounted for in any of the geographies above. This was determined by deducting the known geographies sales from the global feature.
11. global_original - The originally scraped total sales numbers (shown in millions sold).
12. global - The multiplying of global_original by one million.
13. released_date - The year the console / system was released.
14. discontinued_date - The year the console / system was discontinued from sale.
15. msrp_usd - The launch price of the console / system.
16. handheld - Is the console / system a handheld device. True = Yes, False = No.
17. total_available_games - The total games that were / are available for the console / system.
18. failure_rate_percentage - The failure rate of the console / system.
19. vendor - The vendor of the console / system.
20. position_when_scraped - The position the console / system was in at the time of being scraped. This is based on units sold.

## 5. Data Importing And Formatting

### 5.1. Import The Required Libraries / Modules

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb

### 5.2. Import The Data

In [2]:
# -- Select the columns to use:
columns = ["vendor", "platform", "handheld", "released_date", "discontinued_date",
           "total_available_games", "failure_rate_percentage", "msrp_usd",
           "global", "europe", "north_america", "japan", "rest_of_the_world",
           "unknown_sales"]

df = pd.read_excel(io = "./data/02-processed-data.xlsx", 
                   sheet_name = "02-processed-data",
                   usecols = columns,
                   dtype = {"global": np.int64, 
                            "europe": np.int64, 
                            "north_america": np.int64,
                            "japan": np.int64, 
                            "rest_of_the_world": np.int64,
                            "unknown_sales": np.int64})

# -- Reindex the dataframe so that the columns are in the required order:
df = df.reindex(columns = columns)

### 5.3. Check The DataTypes

In [3]:
df.dtypes

vendor                      object
platform                    object
handheld                      bool
released_date                int64
discontinued_date            int64
total_available_games        int64
failure_rate_percentage    float64
msrp_usd                   float64
global                       int64
europe                       int64
north_america                int64
japan                        int64
rest_of_the_world            int64
unknown_sales                int64
dtype: object

### 5.4. Check The First Five Rows

In [4]:
df.head(n = 5)

,vendor,platform,handheld,released_date,discontinued_date,total_available_games,failure_rate_percentage,msrp_usd,global,europe,north_america,japan,rest_of_the_world,unknown_sales
0,Sony,PlayStation 2 (PS2),False,2000,2013,3565,7.5,299.00,158700000,55280000,53650000,23180000,26590000,0
1,Nintendo,Nintendo DS (DS),True,2004,2014,3289,7.5,149.99,154030000,51840000,57920000,32990000,11280000,0
2,Nintendo,Nintendo Switch (NS),True,2017,0,2258,7.5,299.99,129419999,33110000,46170000,30460000,19680000,0
3,Nintendo,Game Boy (GB),True,1989,2003,1600,7.5,89.99,118690000,40050000,43180000,32470000,2990000,0
4,Sony,PlayStation 4 (PS4),False,2013,2021,2747,7.5,399.99,117110000,45860000,38080000,9650000,23520000,0

### 5.5. Check For NaN Values

In [5]:
df.isna().sum()

vendor                     0
platform                   0
handheld                   0
released_date              0
discontinued_date          0
total_available_games      0
failure_rate_percentage    0
msrp_usd                   0
global                     0
europe                     0
north_america              0
japan                      0
rest_of_the_world          0
unknown_sales              0
dtype: int64

Observation: There are no NaN (not a number) values in the dataframe. 

As a result, it is ok to start exploring the data.

## 6. Exploratory Data Analysis